{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}

<div class="cart-container">
    <h1>Mon Panier</h1>

    <div class="cart-items">
        {% for lesson in lessons %}
            <div class="cart-item">
                <h3>{{ lesson.name }}</h3>
                <span class="price">{{ lesson.price }} €</span>
                <a href="{{ path('app_cart_remove_lesson', { id: lesson.id }) }}" class="remove-btn">Supprimer</a>
            </div>
        {% else %}
            <li>Aucune leçon dans le panier.</li>
        {% endfor %}

        {% for cursus in cursuses %}
            <div class="cart-item">
                <h3>{{ cursus.name }}</h3>
                <span class="price">{{ cursus.price }} €</span>
                <a href="{{ path('app_cart_remove_cursus', { id: cursus.id }) }}" class="remove-btn">Supprimer</a>
            </div>
        {% else %}
         <li>Aucun cursus dans le panier.</li>
        {% endfor %}

        <div class="cart-total">
            <h3>Total : {{ total }} €</h3>
        </div>

        <div class="cart-actions">
            <a href="{{ path('app_cart_clear') }}" class="btn-empty-card">Vider le panier</a>
            {% if lessons is not empty or cursuses is not empty%}
                <a href="#" class="btn-validate-cart">Valider le panier</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
