{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }}{% endblock %}

{% block body %}
    <div class="lesson-profile">
        <h1 class="admin-title">{{ lesson.name }}</h1>
        <p><strong>Description :</strong> {{ lesson.description }}</p>
        <p><strong>Prix :</strong> {{ lesson.price }} €</p>

        <p><strong>Vidéo :</strong></p>
        <video width="500" controls>
            <source src="{{ asset(lesson.videoFile) }}" type="video/mp4">
            Votre navigateur ne supporte pas la vidéo.
        </video>
        <p class="lesson-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tellus tortor, tempor non vehicula vitae, 
        vestibulum at nisi. Donec nibh nulla, fermentum ac risus id, blandit suscipit magna. Sed laoreet lorem quis accumsan faucibus. 
        Suspendisse augue ligula, pretium vel bibendum vitae, consectetur ut ex. Mauris tincidunt sit amet tellus eu tristique. 
        Donec iaculis massa sit amet malesuada ullamcorper. Sed massa dolor, faucibus sit amet massa at, facilisis dignissim sem.
        Fusce porta ac eros semper dictum. Cras ac tortor quis justo interdum sagittis eget vel quam. Phasellus mauris elit, 
        condimentum eget ultrices sit amet, egestas non mi. Pellentesque aliquet elit justo, id mollis nisi feugiat et. 
        Nunc et erat ex. Mauris rutrum a eros sed tincidunt. Nam efficitur quam orci. 
        Nam aliquam, quam non rhoncus aliquam, metus felis laoreet tortor, ut convallis ex mauris vel sapien. Donec pellentesque tincidunt augue. 
        Suspendisse dui erat, placerat non turpis nec, convallis mollis orci.
        </p>
    </div>
    <a href="{{ path('admin_lesson_index') }}" class="btn-back-admin">Retour à la liste des Leçons</a>

{% endblock %}