<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('images/Favicon.jpg') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/register.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/login.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/formations.css') }}">

        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>


    {% include '_partials/_flash.html.twig'%}

    <body>
        <main>
            {% block body %}{% endblock %}
        </main>
    </body>

</html>
