{% extends 'base.html.twig' %}

{% block title %}Cursus{% endblock %}

{% block body %}
    <h1>Cursus du thème : {{ theme.name }}</h1>
    <div class="theme-container">
        {% for cursus in theme.cursuses %}
            <div class="theme-card">
                <h2>{{ cursus.name }}</h2>
                {% if app.user %}
                    {% if cursus not in app.user.purchasedCursus %}
                        <p>Prix : {{ cursus.price }} €</p>
                        <a href="{{ path('app_cart_add_cursus', { id: cursus.id }) }}" class="btn-purchased">Ajouter au panier</a>
                        
                    {% else %}
                        {% if progress is not null %}
                            <div class="progress_cursus-container">
                                <div class="progress_cursus-bar">
                                    <div class="progress_cursus-fill" style="width: {{ progress }}%"></div>
                                </div>
                                <p class="progress_cursus-text">{{ progress }}%</p>
                            </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <p>Prix : {{ cursus.price }} €</p>
                    <a href=""{{ path('app_login') }} class="btn-purchased">Connectez-vous pour acheter ce cursus</a>
                {% endif %}
                <a href="{{ path('app_cursus_show', {'id': cursus.id}) }}" class="btn-purchased">Voir les leçons disponibles</a>
            </div>
        {% else %}
            <p>Aucun cursus disponible pour ce thème.</p>
        {% endfor %}
            <a href="{{ path('app_formations') }}" class="btn-theme">Retour aux thèmes</a>
    </div>
{% endblock %}
