{% extends 'base.html.twig' %}

{% block title %}Mes Certifications{% endblock %}

{% block body %}
    <h1 class="certif-title">Mes Certifications Knowledge Learning</h1>

    {% if themes is empty %}
        <p class="no-certif">Vous n'avez encore obtenu aucune certification.</p>
    {% else %}
        <div class="certification-container">
            {% for themeData in themes %}
                <div class="certification-card">
                    <h2 class="theme-name">Thème : {{ themeData.theme.name }}</h2>

                    <div class="progress_certif-container">
                        <div class="progress_certif-bar">
                            <div class="progress_certif-fill" style="width: {{ (themeData.validatedLessons / themeData.totalLessons * 100)|round(0,'floor') }}%;"></div>
                        </div>
                        <p class="progress_certif-text">{{ (themeData.validatedLessons / themeData.totalLessons * 100)|round(0, 'floor') }}%</p>
                    </div>

                    <h3>Cursus validés :</h3>
                    <ul>
                        {% for cursus in themeData.cursus %}
                            <li>{{ cursus.name }}</li>
                        {% endfor %}
                    </ul>

                    {% if themeData.isCertified %}
                        <a href="{{ path('app_certifications_show', {'id': themeData.theme.id}) }}" class="certif-btn">Voir la certification</a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <a href="{{ path('app_home') }}" class="back-btn">Retour à l'accueil</a>
{% endblock %}
