{% extends 'base.html.twig' %}

{% block title %}Certification - {{ theme.name }}{% endblock %}

{% block body %}

    <div class="show">
        <div class="show-container">
            <h1>Certification Officielle</h1>
            <div class="show-card">
                <h2>{{ theme.name }}</h2>
                <p>Félicitations {{ app.user.name }} </p>
                <p>Vous avez validé toutes les leçons associées à ce thème.</p>
                <p>Vous avez obtenu la certification officielle Knowledge Learning.</p>            
                <p class="show-date">Date : {{ "now"|date("d/m/Y") }}</p>
            </div>
        </div>
        <a href="{{ path('app_certifications') }}" class="btn-back">Retour aux certifications</a>
    </div>
{% endblock %}